@import "../../sass/constants";
@import "../../sass/placeholders";
@import "../../sass/mixins";
@import "../../sass/base";
@import "../../sass/header";
@import "../../sass/burger";
@import "../../sass/buttons";
@import "../../sass/footer";
@import "../../sass/modal";
@import "../../sass/pet_card";


.top__block {
    background: $gradient;
}

.header__block {
    height: 18rem;

    @media (max-width: $tablet-width) {
        height: 12rem;
    }
}

h1 {
    color: $color-primary;
}

.subtitle {
    color: $color-light-xl;
}

.nav_link {
    color: $color-dark-s;

    &:hover {
        color: $color-light-xl;
        border-bottom: $color-primary solid 3px;
    }
}

.active_link {
    color: $color-light-xl;
    border-bottom: $color-primary solid 3px;
}

.line {
    background: $color-primary;
}


.not__only__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    @media (max-width: $tablet-width) {
        padding-top: 3rem;
    }
}

.motto__block {
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 50rem;

    @media (max-width: $tablet-width) {
        padding-bottom: 9.9rem;
        a {
            margin: 0 auto;
        }
    }
    @media (max-width: $mobile-width) {
        padding-bottom: 10rem;
    }
}

.motto__block__content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    @media (max-width: $tablet-width) {
        padding-left: 2rem;
    }
    @media (max-width: $mobile-width) {
        padding: 0;
        text-align: center;
        align-items: center;
    }
}

.motto__block-text {
    @extend %font-secondary;
    @include font($size: 1.5rem, $height: 160%);
    color: $color-dark-s;
    max-width: 94%;

    @media (max-width: $tablet-width) {
        max-width: 97%;
        padding: 0;
    }
}

.not_only_pic {
    @media (max-width: $tablet-width) {
        width: 569px;
        margin-left: 20%;
    }
    @media (max-width: 425px) {
        width: 26rem;
        margin-top: 1.6%;
        margin-left: 13%;
    }
}

.about__block {
    display: flex;
    justify-content: center;
    gap: 12rem;
    padding-top: 8rem;
    padding-right: 6rem;
    padding-bottom: 10rem;
    flex-wrap: wrap-reverse;

    @media (max-width: $tablet-width) {
        padding-right: 3rem;
        gap: 8rem;
    }

    @media (max-width: $mobile-width) {
        padding-top: 4.2rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        gap: 4rem;
    }
}

.about__info {
    display: flex;
    flex-direction: column;
    max-width: 43rem;
    gap: 2.5rem;
    justify-content: center;

    h3 {
        max-width: 80%;
        @media (max-width: $mobile-width) {
            padding-bottom: 0.3rem;
        }
    }

    @media (max-width: $mobile-width) {
        gap: 2.2rem;
        align-items: center;
    }

    .about_text {
        @extend %font-secondary;
        @include font($size: 1.5rem, $height: 160%);
        color: $color-dark-xl;
        margin: 0;

        @media screen and (max-width: 767px) {
            text-align: justify;
            padding: 0 1.5rem;
        }
    }
}

.about-pic {
    @media screen and (max-width: 767px) {
        width: 260px;
    }
}

.our__friends {
    background-color: $color-light-l;
}

.our__friends__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 10rem;

    @media (max-width: $mobile-width) {
        padding-top: 4.5rem;
        padding-bottom: 4rem;
    }

    h3 {
        text-align: center;
        @media (max-width: $mobile-width) {
            max-width: 98%;
        }
    }

}

.all__pets {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    @media (max-width: $tablet-width) {
        justify-content: center;
        column-gap: 80px;
        flex-wrap: wrap;
    }
    @media (max-width: $mobile-width) {
        padding-top: 4rem;
        padding-bottom: 11.5rem;
    }
}
#all__pets {
    position: relative;
}
#button-left {
    position: absolute;
    left: 0px;
    top: 45%;
    z-index: 5;
    @media (max-width: 425px) {
        left: 19%;
        top: 84%;
    }
}
#button-right {
    position: absolute;
    right: 0px;
    top: 45%;
    z-index: 5;
    @media (max-width: 425px) {
        right: 19%;
        top: 84%;
    }
}

.carousel-wrapper {
    max-width: 99rem;
    overflow: hidden;
    @media (max-width: 1024px) {
        max-width: 58rem;
    }
    @media (max-width: 711px) {
        max-width: 27rem;
    }
}

.carousel {
    position: relative;
    width: 300%;
    left: -100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@keyframes move-right {
    from {left: -100%;}
    to {left: -200%;}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 3s;
}

@keyframes move-left {
    from {left: -100%;}
    to {left: 0%;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 3s;
}

.pet__items {
    display: flex;
    justify-content: space-between;
    gap: 9rem;

    @media (max-width: 1024px) {
        gap: 4rem;
    }
}

.how__to__help__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.7rem 4rem 10rem 4rem;
    gap: 6rem;

    @media (max-width: $tablet-width) {
        padding-top: 8rem;
        gap: 5.7rem;
    }
    @media (max-width: $mobile-width) {
        padding: 4.4rem 1.5rem 4.2rem 1.5rem;
        gap: 4.2rem;
    }

    h3 {
        text-align: center;
    }    
}

.all__help {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 12rem;
    row-gap: 5.5rem;

    @media (max-width: $tablet-width) {
        column-gap: 6rem;
    }
    @media (max-width: $mobile-width) {
        column-gap: 3rem;
        row-gap: 3rem;
        justify-content: flex-start;
    }
}

.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @media (max-width: $tablet-width) {
        width: 17rem;
    }
    @media (max-width: $mobile-width) {
        width: 13rem;
        gap: 2rem;
    }
}

.help_pic {
    @media (max-width: $mobile-width) {
        width: 5rem;
        height: 5rem;
    }
}

.help_name {
    @extend %font-primary;
    @include font($size: 2rem, $height: 115%);
    letter-spacing: 0.06em;
    color: $color-dark-l;
    @media (max-width: $mobile-width) {
        @include font($size: 1.5rem, $height: 110%);
    }
}

.donation {
    background-color: $color-light-l;
}

.donation__block {
    display: flex;
    padding-top: 7rem;
    padding-bottom: 10rem;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    padding-left: 18rem;
    flex-wrap: wrap-reverse;

    @media (max-width: $tablet-width) {
        padding: 8rem 3rem 10rem 3rem;
        justify-content: center;
        gap: 6rem;
    }
    @media (max-width: $mobile-width) {
        padding: 4.2rem 1rem 4.1rem 1rem;
        gap: 4.5rem;
    }
}

.donation_pic {
    max-width: 86.7%;
}

.donation__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    @media screen and (max-width: 767px) {
        justify-content: center;
        align-items: center;
        gap: 22px;
    }
}

.about_donation_text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 0;
    @media screen and (max-width: 767px) {
        text-align: center;
        letter-spacing: 0;
    }
}

.credit__cart {
    background-color: $color-primary;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    height: 43px;
}

.card_number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    text-decoration: none;
    cursor: $cursor;
    @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 110%;
    }
}

.low_letters_text_2 {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        display: flex;
        align-items: center;
        color: #B2B2B2;

        margin: 0;
        text-align: justify;
        padding: 0 10px;
    }
}

.low_letters_text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: center;
    color: #B2B2B2;

    margin: 0;

    @media screen and (max-width: 767px) {
        display: none;
    }
}