.pet__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-light-s;
    gap: 2.8rem;
    cursor: $cursor;
    transition: 300ms;
    min-width: 5rem;
    padding-bottom: 3rem;

    width: 27rem;
    height: 43.5rem;
    

    @media (max-width: $mobile-width) {
        gap: 3rem;
    }

    &:hover {
        background-color: white;

        .button {
            background-color: $color-primary-light;
        }
    }
}


.pet_img {
    width: 27rem;
    border-radius: 9px 9px 0px 0px;
}

.pet-name {
    @extend %font-primary;
    @include font($size: 2rem, $height: 2.3rem);
    letter-spacing: 0.06em;
    color: $color-dark-l;
}